@font-face {
    font-family: "Rubik";
    src: url(../Fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf);

}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../Fonts/Montserrat/Montserrat-Bold.ttf);
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: #fff;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
}
header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
.hero {
    position: relative;
    text-align: center;
    color: #fff;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
}
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.event {
    background-color: #333;
    margin: 10px;
    padding: 10px;
    width: 45%;
}
.partners {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:#67635A ;
    
}
.partner {
    text-align: center;
    
   
}
.partner img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    box-shadow: 10px 5px 5px #2b271c;
    mix-blend-mode: multiply;
    filter: brightness(110%)

    
    
}

section {

    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: #67635a;

}

.one {
   text-align: center;
   color: #23221e;
   font-family: "rubik", sans-serif;
   font-size: 80%;
   padding-bottom:  4rem;

    
}

    
  


.partner p {
    text-align: center;
    color: #23221e;
    font-family: "Monserrat-Bold", sans-serif;
}

footer {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}
footer input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}
footer .social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

